
  
  .column {
    margin: 4px 16px 0 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 8px;
  
    @media (max-width: 1000px) {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
  }
  
  .title {
    font-size: 1.4vw;
    font-weight:'bold';
    text-align: left;
    margin: 1.6em 0 -0.5em 0;
    min-width: 6em;
  }
  
  .title:hover {
    color: #fff;
  }
  
  .image {
    object-fit: contain;
    max-height: 132px;
    margin: 17px 5px 17px 0;
    transition: transform 450ms;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
  }
  
  .image:hover {
    transform: scale(1.04);
  }
  
  .img-container{
    height: 100%;
    width: 100%;
    margin: 16px;
  }

  .row__card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 1rem;
    margin: 16px;
  }


